body {
    background-image: url(../img/main/login.png);
}

/*login*/
.main_login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    margin: auto;
    border: 1px solid black;
    border: 24px solid rgb(39, 85, 131);
    background-color: rgb(228, 228, 228);
}

.btn-dangnhap {
    cursor: pointer;
}

.left_login { 
    padding: 16px;
}


.right_login { 
    padding: 16px;
}

.left_login form .btn-dangnhap:hover {
    background-color: #4dad4d;
}
    
.left_login form input {
    outline: none;
    border-radius: 6px;
}

    .left_login form input:focus {
        outline: 1px solid #15ca24;
    }

.fa-eye{
    position: relative;
}

@media screen and (min-width: 800px) {
    .main_login {
        display: flex;
        width: 70%;
        height: 70%;
    }
    .left_login {
        width: 37%;
        height: 70%;
        margin: auto;
    }

    .left_login form {
        height: 100%;
        width: 100%;
        margin: auto;
        line-height: 40px;
        font-size: 130%;
    }

    .left_login form p {
        margin-top: 0px;
    }

    .left_login form input {
        height: 32px;
        padding-left: 10px;
        width: calc(100% - 16px);
    }

    .left_login form .btn-dangnhap {
        height: 37px;
        width: 100%;
        margin: auto;
        font-weight: bold;
        outline: none;
        background-color: #5cb85c;
        color: antiquewhite;
        border-radius: 6px;
    }

    .right_login {
        border-left: 1px solid #8f8f8f;
        width: 58%;
        opacity: 70%;
    }

    .right_login h3 {
        margin-left: 30px;
    }

    .fa-eye{
        top: -38px;
        left: calc(97% - 20px);
    }
}

@media screen and (max-width: 800px) {
    .main_login {
        display: block;
    }
    .left_login input, p, span {
        display: block;
    }
    .left_login input {
        margin: auto;
    }
    
    .left_login form input {
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        width: calc(80% - 18px);
    }

    .left_login form .btn-dangnhap {
        width: 80%;
    }

    .left_login form p, span {
        margin-left: 38px;
    }

    .left_login form span {
        margin-bottom: 16px;
    }

    .right_login {
        border-top: 1px solid #8f8f8f;
        width: 90%;
        opacity: 70%;
    }

    .fa-eye{
        top: -27px;
        left: calc(85% - 10px);
    }
}